*{
	margin: 0
}

body {
	background-color: #faf4e4;
	font-family: montserrat;
}
.grid {
	width: 100%;
	margin: 20px auto;
	display: grid;
	grid-column-gap: 1%;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(6, auto);
	grid-template-areas:
		"header_menu header_menu header_menu"
		"blanc titulo_eventos titulo_eventos"
		"banner_eventos form_eventos  form_eventos"
		"banner_eventos form_eventos form_eventos"
		"blanc_formulario form_eventos form_eventos"
		"footer footer footer";
}
.menu {
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  grid-gap: 10px;
  text-align: center; 
  align-items: center;
  grid-template-areas: 
      "header_logo menu_links menu_links menu_links";
} 
.header_logo {
  align-items: center;
  grid-area: header_logo;
}
.header_logo img {
  width: 300px;
  height: 80px;
}
.logo{
	cursor: pointer;
}
.menu_links {
  display: flex;
  list-style-type: none;
  grid-area: menu_links;
}
.menu_links li{
  cursor: pointer;
  flex: auto;
  color: black;
  text-align: center;
}
.menu_links li:hover {
  border-radius: 5px;
  border-color: black; 
  border-style: solid;
  border-width: 0.6px;
}
/* ====> three_lines, es el ícono para el menú responsive <===== */
.three_lines{ 
  display: none;
  cursor: pointer;
}
.three_lines div{
  width: 25px;
  height: 3px;
  margin: 4px;
  background-color: black;
}
.servicios, .nosotros, .sedes, .blog, .iniciar_sesion{
  text-decoration: none;
  color: black;
  font-size: 2vw;
}
.header_menu {
	grid-area: header_menu;
}
.blanc{
	grid-area: blanc;
}
.titulo_eventos{
	margin: 10% 20% 0% 10%;
	text-align: center;
	grid-area: titulo_eventos;
}
.title_eventos{
	display: inline-block;
	padding: 5px 25px;
	border-radius: 10px;
	background-color: #ffce7a;
	font-size: 2vw;
	text-decoration: none;
}
.banner_eventos{
	grid-area: banner_eventos;
}
.banner_eventos img{
	width: 80%;
	height: auto;
}
.blanc_formulario {
	height: 20vw;
	grid-area: blanc_formulario;
}
.form_eventos{
	margin: 0% 20% 0% 10%;
	display: grid;
	grid-row-gap: 5%;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(7, auto);
	grid-template-areas: 
	"texto_eventos texto_eventos"
	"texto_eventos texto_eventos"
	"textbox_nombre textbox_apellido"
	"textbox_correo textbox_correo"
	"textbox_evento textbox_evento"
	"textbox_fecha textbox_hora"
	"btn_formulario_eventos btn_formulario_eventos";
	grid-area: form_eventos;
}
.texto_eventos{
	margin-top: 10%;
	grid-area: texto_eventos;
}
.texto1_eventos{
	justify-content: left;
	text-align: justify;
	font-size: 1.5vw;
	margin-bottom: 5%;
}
.texto2_eventos{
	margin-top: 25%;
	margin-bottom: 0%;
}
.texto2_eventos, .texto3_eventos{
	justify-content: left;
	text-align: justify;
	font-size: 1vw;
}
.textbox_nombre{
	grid-area: textbox_nombre;
}
.textbox_apellido{
	grid-area: textbox_apellido;
}
.textbox_correo{
	grid-area: textbox_correo;
}
.textbox_evento{
	grid-area: textbox_evento;
}
.textbox_fecha{
	grid-area: textbox_fecha;
}
.textbox_hora{
	grid-area: textbox_hora;
}
.nombre, .apellido, .correo, .evento, .fecha, .hora{
	display: inline-block;
	background-color: #ffce7a;
	letter-spacing: 2px;
	border-radius: 10px;
	font-size: 1vw;
	padding: 5px 15px;
}

input#nombre, input#apellido {
	width: 80%;
	font-size: 1vw;
	margin-top: 3%;
}
input#correo, input#evento {
	font-size: 1vw;
	width: 90%;
	margin-top: 3%;
}
.input_fecha{
	margin-top: 5%;
	font-size: 1vw;
}
.input_hora{
	margin-top: 5%;
	font-size: 1vw;
}
.max_2mb{
	font-size: 0.7vw;
}
.btn_formulario_eventos{
	text-align: center;
	margin: 5% 30% 10% 30%;
	grid-area: btn_formulario_eventos;
}
.submit_formulario_eventos{
	background-color: black;
	color: white;
	padding: 5px 15px;
	border-radius: 10px;
	cursor: pointer;
	font-size: 2vw;	
}
.footer {
	padding: 50px;	
	background-color: black;
	grid-area: footer;
}
.footer ul{
	margin: 0;
	padding: 0;
	display: flex;
	list-style-type: none;
}
.footer ul li{
	cursor: pointer;
	flex: auto;
	text-align: center;
}
.escribenos, .preg_frequ, .trabaja_con_nos, .eventos {
	color: #faf4e4;
	text-decoration: none;
	border-radius: 5px;
	border-color: #faf4e4;
	border-width: 0.2px;
	border-style: solid;
	padding: 10px;
	font-size: 1vw;
}


@media screen and (max-width: 768px) {

.grid {
	width: 100%;
	display: grid;
	grid-column-gap: 1%;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(6, auto);
	grid-template-areas:
		"header_menu header_menu header_menu header_menu"
		"banner_eventos titulo_eventos titulo_eventos titulo_eventos"
		"banner_eventos form_eventos form_eventos form_eventos"
		"banner_eventos form_eventos form_eventos form_eventos"
		"banner_eventos btn_formulario_eventos btn_formulario_eventos btn_formulario_eventos"
		"footer footer footer footer"; 	
	}
.menu {
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  grid-gap: 10px;
  text-align: center; 
  align-items: center;
  grid-template-areas: 
      "header_logo header_logo header_logo three_lines";
} 
.three_lines{
  display: block;
}
.menu_links {
  margin-left: 20%;
}
.menu_links {
  position: absolute;
  background-color: black;
  right: 0px;
  padding: 5px;
  margin-top: 80px;
  margin-right: 15vw; 
  height: 40vw;
  display: none;
  flex-direction: column;
  align-items: center;
}
.menu_links li{
  margin-bottom: 5vw;
}
.menu_links li:hover {
  background-color: grey;
}
.servicios, .nosotros, .sedes, .blog, .iniciar_sesion{
  text-decoration: none;
  color: white;
  font-size: 3vw;
}
.footer ul{
	margin: 0;
	display: block;
	list-style-type: none;
}
.footer ul li{
	cursor: pointer;
	padding: 20px;
	flex: auto;
	text-align: center;
}
.escribenos, .preg_frequ, .trabaja_con_nos, .eventos {
	color: #faf4e4;
	text-decoration: none;
	border-radius: 5px;
	border-color: #faf4e4;
	border-width: 0.2px;
	border-style: solid;
	padding: 10px 3vw;
}
}

